body {
  margin-bottom: 0px;
  margin-top: 0px;
}

#mainText {
  line-height: 14px;
  font-size: 16px;
  font-family: serif;


  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tabs {
  font-size: 18px;
  text-decoration: underline;
  font-family: serif;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#storyGradient {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 250px;
    background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
    background: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100% );
}

.column {
  overflow: hidden;
  height: 100vh;
}

#leftWrapper {
  width: 200px;
  margin-right: 50px;
}

#rightWrapper {
  width:300px;
}

.row {
  display: flex;
}

.button {
  background: none;
  border: 1px solid black;
  font-family: serif;
  font-size: 16px;
  width: 102px;
  height: 30px;
  /*  padding: 5px 10px;  */
  text-align: center;
  display: inline-block;
}

.buttonName {
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.button:hover {
  text-decoration: underline;
}

/* removes the blue border after button click */
.button:focus {
  outline: 0;
}

.button:disabled {
  text-decoration: none;
  border: 1px solid gray;
/*  background: #dddddd;  */
}

#cooldown {
  position: absolute;
  width: 102px;
  height:30px;
  background: none;

  z-index: 1;
}

#stokeFire {
  position: absolute;
  z-index: 2;
}
